mat-icon {
    font-size: 24px
}

.title {
    font-weight: 500;
}

.monthly-payment-amount {
    font-size: 28px;
    font-weight: 500;
    margin-right: 4px;
}

.monthly-payment {
    font-size: 14px;
}