<div class="custom-dropdown">
  <div class="dropdown" (click)="toggleDropdown()" [class.show]="dropdownOpen">
    <input
      type="text"
      class="form-control dropdown-input"
      [value]="selectedOption"
      readonly
      required
    />
    <mat-icon>keyboard_arrow_down</mat-icon>

    <ul
      class="dropdown-menu"
      [class.show]="dropdownOpen"
      aria-labelledby="dropdownMenuButton"
    >
      @for (option of options; track option) {
      <li (click)="selectOption(option);$event.stopPropagation()">
        <label class="dropdown-item">
          <input
            type="radio"
            name="year"
            [checked]="option === selectedOption"
          />
          {{ option }} Years
        </label>
      </li>
      }
    </ul>
  </div>
</div>
