<card>
  <img src="assets/images/logo.png" alt="logo" class="logo" />
  <p class="title">Your Mortgage</p>
  <p></p>
  <p class="sub-title">Calculate Your Mortgage</p>

  <div class="my-5" [formGroup]="form">
    <div class="row mt-4 gx-4">
      <div class="form-group col-md-6">
        <label> <mat-icon>help</mat-icon>Borrowing Amount</label>
        <input
          type="number"
          formControlName="borrowingAmount"
          class="col-md-6 form-control"
          [ngClass]="{'is-invalid': form.controls.borrowingAmount.errors?.['required'] && form.controls.borrowingAmount.touched}"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label><mat-icon>help</mat-icon>Purchase Price</label>
        <input
          type="number"
          formControlName="purchasePrice"
          class="col-md-6 form-control"
          [ngClass]="{'is-invalid': form.controls.purchasePrice.errors?.['required'] && form.controls.purchasePrice.touched}"
          required
        />
      </div>
    </div>
    <div class="row mt-4 gx-4">
      <div class="form-group col-md-6">
        <label><mat-icon>help</mat-icon>Preffered Repayment Period</label>
        <select-dropdown
          formControlName="prefferedRepaymentPeriod"
        ></select-dropdown>
      </div>
      <div class="form-group col-md-6">
        <label><mat-icon>help</mat-icon>Gross Household Income</label>
        <input
          type="number"
          formControlName="grossHouseholdIncome"
          class="col-md-6 form-control"
          [ngClass]="{'is-invalid': form.controls.grossHouseholdIncome.errors?.['required'] && form.controls.grossHouseholdIncome.touched}"
          required
        />
      </div>
    </div>
    <div class="row mt-4 gx-4">
      <div class="form-group col-md-6">
        <label><mat-icon>help</mat-icon>Interest Rate</label>
        <input
          type="number"
          formControlName="interestRate"
          class="col-md-6 form-control"
          [ngClass]="{'is-invalid': form.controls.interestRate.errors?.['required'] && form.controls.interestRate.touched}"
          required
        />
      </div>
    </div>
  </div>
</card>
