<card>
    <img src="assets/images/logo.png" alt="logo" class="logo">
    <p class="title">Your Mortgage<p>
    <p class="sub-title">Calculate Your Mortgage</p>

    <div class="my-5">
        <div class="row mt-4 gx-4">
            <div class="form-group col-md-6">
                <label for="borrowingAmount">
                    <mat-icon>help</mat-icon>Borrowing Amount</label>
                <input id=borrowingAmount class="col-md-6 form-control" type="text">
            </div>
            <div class="form-group col-md-6">
                <label for="purchasePrice"><mat-icon>help</mat-icon>Purchase Price</label>
                <input id=purchasePrice class="col-md-6 form-control" type="text">
            </div>
        </div>
        <div class="row mt-4 gx-4">
            <div class="form-group col-md-6">
                <label for="prefferedRepaymentPeriod"><mat-icon>help</mat-icon>Preffered Repayment Period</label>
                <input id=prefferedRepaymentPeriod class="col-md-6 form-control" type="text">
            </div>
            <div class="form-group col-md-6">
                <label for="grossHouseholdIncome"><mat-icon>help</mat-icon>Gross Household Income</label>
                <input id=grossHouseholdIncome class="col-md-6 form-control" type="text">
            </div>
        </div>
        <div class="row mt-4 gx-4">
            <div class="form-group col-md-6">
                <label for="interestRate"><mat-icon>help</mat-icon>Interest Rate</label>
                <input id=interestRate class="col-md-6 form-control" type="text">
            </div>
        </div>
    </div>
</card>
