.next {
    background-color: #194dfa;
    color: #f1f6ff;
    font-weight: 200;
    border-radius: 40px;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    height: fit-content;
}

.back {
    background-color: #f1f6ff;
    color: #194dfa;
    font-weight: 200;
    border-radius: 50px;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    height: fit-content;
}

.form-container {
    overflow-y: auto;
    scrollbar-width: 0;

    .buttons {
        display: grid;
    }
}
