<div class="wrapper">
  <div class="row gx-1 flex-grow-1 form-container">
    <div class="col-md-7 d-flex align-items-center">
      <mortgage-form class="flex-grow-1"></mortgage-form>
    </div>
    <div class="col-md-5 d-flex align-items-center">
      <mortgage-calculation class="flex-grow-1"></mortgage-calculation>
    </div>
    <div class="buttons">
        <button class="back ms-3 mb-3">Go Back</button>
        <button class="next ms-3 mb-3">Next Step</button>
    </div>
  </div>
  <stepper></stepper>
</div>
