@import "bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'NeuSans', sans-serif;
    background: linear-gradient(135deg, #dde8ff 0%, #ccd9ff 50%, #84afff 100%);
    background-attachment: fixed;
}
